/* graph */
.dynamic-graph {
  position: relative;
  width: 100%;
  height: 450px;
  margin: 5px auto;
}

.dynamic-graph__title {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: green;
}

.dynamic-graph__content {
  position: relative;
  height: 400px;
  max-height: 400px;
}

.no-data-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.dynamic-graph__graph {
  height: 400px;
  cursor: pointer;
  width: 100% !important;
}

.dynamic-graph__btns {
  margin-top: 20px;
  display: flex;
}

.dynamic-graph__btn {
  margin-right: 10px;
  height: 27px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: green;
  border: 1px solid green;
  background-color: transparent;
  cursor: pointer;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.dynamic-graph__btn:hover {
  color: white;
  background-color: green;
}

.dynamic-graph__btn:active {
  color: white;
  background-color: green;
}

.dynamic-graph__btn:focus-visible {
  color: white;
  background-color: green;
  outline: none;
}

/* прелоудер */
.loading-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  font-size: 18px;
  font-weight: bold;
  color: green;
}

/* Прогресс-бар */
.loading-wrapper .loading-bar {
  margin-top: 10px;
  width: 20%;
  height: 15px;
  background: #ddd;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
}

.loading-wrapper .loading-bar::before {
  content: '';
  display: block;
  width: 0;
  height: 100%;
  background: linear-gradient(90deg, #4caf50, #2196f3);
  animation: loading 2s infinite;
}

/* Анимация для прогресс-бара */
@keyframes loading {
  0% {
    width: 0;
  }

  50% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

/* Стили для прелоадера графика №1 */
#loadingWrapper1 {
  background: rgb(255, 255, 255);
}

#loadingWrapper1 .loading-bar::before {
  background: linear-gradient(90deg, #333, green);
}

/* Стили для прелоадера графика №2 */
#loadingWrapper2 {
  background: rgb(255, 255, 255);
}

#loadingWrapper2 .loading-bar::before {
  background: linear-gradient(90deg, #333, green);
}

.mpa {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.mpa__container {
  width: 50%;
}