@font-face {
  font-family: "Bitter";
  font-display: swap;
  src: url("../fonts/Bitter-SemiBold.woff2") format("woff2"), url("../fonts/Bitter-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Bitter";
  font-display: swap;
  src: url("../fonts/Bitter-Regular.woff2") format("woff2"), url("../fonts/Bitter-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Bitter";
  font-display: swap;
  src: url("../fonts/Bitter-Medium.woff2") format("woff2"), url("../fonts/Bitter-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  font-display: swap;
  src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  font-display: swap;
  src: url("../fonts/Oswald-SemiBold.woff2") format("woff2"), url("../fonts/Oswald-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  font-display: swap;
  src: url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  font-display: swap;
  src: url("../fonts/Oswald-Medium.woff2") format("woff2"), url("../fonts/Oswald-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Bitter', sans-serif;
  margin-left: 0;
}

body::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  /* ширина scrollbar */
}

body::-webkit-scrollbar-track {
  background-color: #dfdcdc;
  /* цвет дорожки */
}

body::-webkit-scrollbar-thumb {
  background-color: green;
  /* цвет плашки */
  border-radius: 20px;
  /* закругления плашки */
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.title-reset {
  margin: 0;
}


.btn-reset {
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}

.descr-reset {
  margin: 0;
}

.content {
  position: relative;
  max-width: 1450px;
  padding-left: 10px;
}

.dynamic-report {
  margin: 5px 30px;
  display: flex;
  flex-direction: column;
}

.dynamic-report__title-content {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.dynamic-report__title {
  margin-bottom: 15px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: green;
}

.dynamic-report__btn {
  margin-right: 10px;
  height: 27px;
  font-size: 16px;
  line-height: 22px;
  font-weight: 600;
  color: green;
  border: 1px solid green;
  background-color: transparent;
  cursor: pointer;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.dynamic-report__btn:hover {
  color: white;
  background-color: green;
}

.dynamic-report__btn:active {
  color: white;
  background-color: green;
}

.dynamic-report__btn:focus-visible {
  color: white;
  background-color: green;
  outline: none;
}


.dynamic-report__date-range {
  position: relative;
  max-width: 350px;
}

.dynamic-report__date-div {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}


.dynamic-report__date-label {
  margin-bottom: 10px;
}

.dynamic-report__date-input {
  margin-right: 10px;
  height: 27px;
  width: 150px;
  text-align: center;
  font-family: 'Bitter', sans-serif;
  padding: 2px;
  border: 1px solid green;
  font-size: 14px;
  background-color: #f9f9f9;
  color: #333;
  outline: none;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

/* Стиль при наведении */
.dynamic-report__date-input:hover {
  border-color: green;
  background-color: #d4d2d2bb;
  transition: background-color .3s ease-in-out;
}

/* Стиль при фокусе (когда элемент активен) */
.dynamic-report__date-input:focus {
  border-color: #3498db;
  box-shadow: 0 0 5px rgba(52, 152, 219, 0.5);
  background-color: #ffffff;
  color: #000;
}

/* Стили для отключенного состояния (disabled) */
.dynamic-report__date-input:disabled {
  background-color: #e0e0e0;
  color: #999;
  border-color: #dcdcdc;
}

/* Пример с кастомной иконкой внутри инпута (не для всех браузеров) */
.dynamic-report__date-input::-webkit-calendar-picker-indicator {
  color: #3498db;
  cursor: pointer;
}

/* Скрыть спиннеры во всех основных браузерах */
input[type=number] {
  -moz-appearance: textfield;
}

/* Убираем спиннеры в WebKit-браузерах */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.dynvamic-report__data-error {
  display: none;
  color: red;
  text-align: center;
  font-size: 24px;
}


/* table */
.dynamic-report__table {
  position: relative;
}

.dynamic-report__report-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Фиксированный макет таблицы */
}

.dynamic-report__report-header {
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  color: white;
  font-family: 'Bitter', sans-serif;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  background-color: green;
}


.dynamic-report__report-cell {
  text-align: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: black;
}


.dynamic-report__report-table th,
.dynamic-report__report-table td {
  border: 1px solid #ddd;
  padding: 2px;
}

.dynamic-report__report-table th:first-child,
.dynamic-report__report-table td:first-child {
  white-space: nowrap;
}



.dynamic-report__report-tr:hover {
  background-color: #ddd;
}

.dynamic-report__report-tr:active {
  background-color: #ddd;
}

.for-raport {
  display: none;
}

.dynamic-report__body {
  display: flex;
  justify-content: space-between;
  max-width: 1920px;
  margin: 0 auto;
}

/* прелоудер */
#loadingWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  z-index: 1000;
}

#loadingText {
  color: #000000;
  font-size: 16px;
  margin-bottom: 10px;
}

#loadingBar {
  width: 400px;
  height: 15px;
  background-color: #ffffff;
  border: 2px solid #cccccc;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}

#loadingBar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: green;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.dynamic-report__report-input {
  width: 100%;
  height: 100%;
  text-align: center;
  transition: box-shadow .3s ease-in-out;
  outline: none;
  border: none;
  border-bottom: 1px solid transparent;
}

.dynamic-report__report-tr:hover {
  background-color: transparent;
}

.dynamic-report__report-tr:active {
  background-color: transparent;
}

/* Подсветка ячейки, содержащей активный инпут */
.dynamic-report__report-cell:hover,
.dynamic-report__report-cell:has(.dynamic-report__report-input:hover),
.dynamic-report__report-cell:has(.dynamic-report__report-input:focus),
.dynamic-report__report-cell:has(.dynamic-report__report-input:active) {
  transition: box-shadow .3s ease-in-out;
  box-shadow: 0px 0px 10px 4px green;
  z-index: 1;
}

/* Стили для таблицы */
.dynamic-report__report-table {
  border-collapse: separate; /* Предотвращаем слияние границ */
  border-spacing: 0; /* Убираем лишние зазоры */
}

td {
  /* padding: 8px; */
  position: relative;
}



.mnemo__modal-background {
  position: fixed;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  z-index: -3;
  cursor: default;
}

.mnemo__modal-background.enabled {
  cursor: pointer;
  opacity: 1;
  z-index: 3;
  transition: opacity .5s ease-in-out;
}

.mnemo__modal-active {
  padding: 20px;

  position: absolute;
  max-width: 780px;
  width: 100%;
  /* height: 50px; */
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 6px, rgba(0, 0, 0, 0.7) 0px 3px 6px;
  cursor: default;
}

.mnemo__modal-active.enabled {
  /* height: 100%; */
  max-height: 600px;
  transition: height .4s ease-in-out;
}

.mnemo__modal-title {
  padding-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid gray;
}

.mnemo__modal-title-text {
  position: relative;
  font-size: 28px;
  font-family: 'Bitter', sans-serif;
  line-height: 24px;
  color: black;
  font-weight: 600;
  text-decoration: none;
}

.mnemo__modal-window {
  max-height: 600px;
  padding-top: 20px;
  overflow-y: auto;
  height: 80%;
}

.mnemo__modal-close {
  position: absolute;
  top: 2px;
  right: 5px;
  z-index: 5;
  width: 20px;
  height: 20px;
  transition: opacity .3s ease-in-out;
  cursor: pointer;
}

.mnemo__modal-close:hover {
  opacity: 0.5;
}

.mnemo__modal-close:active {
  opacity: 0.5;
}

.mnemo__modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 400px;
  overflow-y: auto;
}

.mnemo__modal-body--confirm {
  min-height: 100px;
  justify-content: center;
}

.password__form {
  width: 100%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 605px;
}

.password__form--confirm {
  width: auto;
}

.password__form-item {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.password__form-item:not(:last-child) {
  margin-right: 10px;
}

.password__form-item--confirm {
  flex-direction: row;
}

.password__form-label {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  color: green;
}

.password__form-input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.password__form-input {
  margin-top: 5px;
  display: block;
  width: 100%;
  height: 25px;
  padding: 4px 10px;
  font-size: 14px;
  font-weight: 400;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid grey;
  transition: border .3s ease-in-out, box-shadow .3s ease-in-out;
}

.password__form-error {
  display: none;
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 200px;
  z-index: 1;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  color: red;
  font-style: italic;
}

.password__form-input.error {
  border: 1px solid red;
  box-shadow: 0 0 0 0.2rem rgba(255, 69, 58, 0.25);
}

.password__form-error.active {
  display: block;
}

.password__form-input[type="number"]::-webkit-outer-spin-button,
.password__form-input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.password__form-input::placeholder {
  font-family: 'Bitter', sans-serif;
  color: grey;
}

.password__form-input:hover {
  border: 1px solid green;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(61, 158, 107, 0.25);
}

.password__form-input:active {
  border: 1px solid green;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(61, 158, 107, 0.25);
}

.password__form-input:focus {
  color: #212529;
  background-color: #fff;
  border: 1px solid green;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(61, 158, 107, 0.25);
}

.password__form-input:disabled {
  background-color: #f5f5f5;
  opacity: 1;
}

.password__form-error--delete {
  left: 0;
}

.password__form-btn {
  margin-left: 10px;
  height: 25px;
  padding: 2px 10px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  background-color: white;
  color: green;
  border: 1px solid green;
  transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.password__form-btn:hover {
  color: white;
  background-color: green;
}

.password__form-btn:active {
  color: white;
  background-color: green;
}

.dynamic-report__btn-save {
  margin-top: 10px;
  margin-bottom: 10px;
}

.password__descr {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: green;
}