@font-face {
	font-family: "Bitter";
	font-display: swap;
	src: url("../fonts/Bitter-SemiBold.woff2") format("woff2"), url("../fonts/Bitter-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Bitter";
	font-display: swap;
	src: url("../fonts/Bitter-Regular.woff2") format("woff2"), url("../fonts/Bitter-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Bitter";
	font-display: swap;
	src: url("../fonts/Bitter-Medium.woff2") format("woff2"), url("../fonts/Bitter-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	font-display: swap;
	src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	font-display: swap;
	src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	font-display: swap;
	src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Gilroy";
	font-display: swap;
	src: url("../fonts/Gilroy-Semibold.woff2") format("woff2"), url("../fonts/Gilroy-Semibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Oswald";
	font-display: swap;
	src: url("../fonts/Oswald-SemiBold.woff2") format("woff2"), url("../fonts/Oswald-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "Oswald";
	font-display: swap;
	src: url("../fonts/Oswald-Regular.woff2") format("woff2"), url("../fonts/Oswald-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Oswald";
	font-display: swap;
	src: url("../fonts/Oswald-Medium.woff2") format("woff2"), url("../fonts/Oswald-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Bitter', sans-serif;
}

body::-webkit-scrollbar {
	width: 3px;
	height: 3px;
	/* ширина scrollbar */
}

body::-webkit-scrollbar-track {
	background-color: #dfdcdc;
	/* цвет дорожки */
}

body::-webkit-scrollbar-thumb {
	background-color: green;
	/* цвет плашки */
	border-radius: 20px;
	/* закругления плашки */
}

.list-reset {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.title-reset {
	margin: 0;
}

.btn-reset {
	background-color: transparent;
	cursor: pointer;
	padding: 0px;
	border-width: initial;
	border-style: none;
	border-color: initial;
	border-image: initial;
}

.mnemo {
	position: relative;
	width: 1616px;
	margin: 0 auto;
}

.mnemo__title {
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
	text-align: center;
	font-size: 32px;
	line-height: 32px;
	font-weight: 600;
	color: green;
}

.current-param__title-span {
	font-size: 22px;
	line-height: 30px;
	font-weight: 600;
	color: black;
}

.mnemo__img {
	width: 1616px;
	opacity: 0.8;
}

.mnemo__gif {
	position: absolute;
	top: 46%;
	left: 33%;
	z-index: 1;
}

.mnemo__gif-1 {
	top: 52%;
	left: 12.3%;
}

.mnemo__gif-2 {
	top: 7%;
	left: 95.7%;
}

.mnemo__gif-2 img {
	width: 40px;
	height: 90px;
}

.mnemo__gif-3 {
	top: 64.4%;
	left: 88.1%;
}

.mnemo__gif-3 img {
	width: 65px;
	height: 60px;
	animation: rotate 1s infinite linear;
	animation-play-state: paused;
}

.mnemo__gif-4 {
	top: 71.2%;
	left: 11.33%;
}

.mnemo__gif-4 img {
	width: 35px;
	height: 30px;
	animation: rotate 1s infinite linear;
	animation-play-state: paused;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.mnemo__gif-5 {
	top: 18%;
	left: 18%;
}

.mnemo__gif-5 img {
	transform: rotate(-65deg);
}

.mnemo__gif-6 {
	top: 11.4%;
	left: 21.7%;
}

.mnemo__gif-6 img,
.mnemo__gif-8 img {
	transform: rotate(-63deg);
}

.mnemo__gif-7 {
	top: 70.5%;
	left: 72.5%;
}

.mnemo__gif-8 {
	top: 11.1%;
	left: 28.4%;
}

.mnemo__param {
	padding: 2px;
	margin: 0;
	position: absolute;
	/* z-index: 1; */
	/* background-color: #bfbcbc; */
}

.mnemo__param-text {
	font-size: 16px;
	line-height: 16px;
	color: blue;
	font-weight: 600;
}

.mnemo__param-naimenov {
	font-size: 18px;
	line-height: 18px;
	color: blue;
	font-weight: 600;
}

.mnemo__param-descr {
	position: absolute;
	z-index: 1;
	font-size: 15px;
	line-height: 14px;
	color: rgb(10, 59, 10);
	font-weight: 600;
	text-align: center;
}

.kamera-smeshenia {
	top: 45%;
	left: 20%;
}

.kamera-smeshenia-text {
	text-align: center;
	top: 38%;
	left: 19.1%;
}

.gaz-text {
	text-align: left;
	top: 52%;
	left: 1%;
}

.mosh-gorelki-text {
	text-align: left;
	top: 18%;
	left: 20px;
}

.zadanie-temper-text {
	text-align: left;
	top: 26%;
	left: 20px;
}

.mosh-gorelki {
	top: 18%;
	left: 130px;
}

.zadanie-temper {
	top: 26%;
	left: 130px;
}

.vosduh-na-razbavl {
	top: 65%;
	left: 9.5%;
}

.vosduh-na-razbavl-text {
	text-align: left;
	top: 65%;
	left: 20px;
}

.liniya-parotush-text {
	top: 4%;
	left: 30%;
}

.kamera-vigruzki {
	top: 45%;
	right: 22.9%;
}

.kamera-vigruzki-text {
	text-align: center;
	top: 38%;
	right: 22.8%;
}

.baraban-text {
	top: 46%;
	right: 50%;
}

.temper-uhodyashih-gazov {
	top: 12%;
	right: 21%;
}

.dymosos-text {
	top: 60%;
	right: 8%;
}

.temper-uhodyashih-gazov-text {
	top: 6%;
	right: 17%;

}

.topka-text {
	top: 40.5%;
	left: 20px;
}

.topka-temper {
	top: 36.5%;
	left: 6%;
}

.topka-davl {
	top: 42%;
	left: 6%;
}

.pluzdh-sbrasyvatel-text {
	top: 13%;
	left: 25%;
}

/* Всплывающие подсказки */
.mnemo__param-box--btns {
	position: absolute;
	top: -40px;
	left: 0;
	z-index: 1;
	display: flex;
	align-items: center;
}

.mnemo__param-box--btn {
	padding: 5px;
	font-size: 16px;
	line-height: 23px;
	font-weight: 600;
	color: green;
	border: 1px solid green;
	transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.mnemo__param-box--btn:hover {
	color: white;
	background-color: green;
}

.mnemo__param-box--btn:active {
	color: white;
	background-color: green;
}

.mnemo__param-clue {
	width: 150px;
	position: absolute !important;
	z-index: 1;
	border-radius: 15px;
	box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 5px, rgba(0, 0, 0, 0.12) 0px 0px 3px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
		rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease-in-out;
}

.mnemo__param-clue-content {
	position: relative;
	padding: 10px;
	display: flex;
	flex-direction: column;
	background-color: rgb(240, 238, 238);
	border: 2px solid green;
	border-radius: 15px;
}

.mnemo__param-clue-content::after {
	content: '';
	position: absolute;
	bottom: -14px;
	left: 50%;
	z-index: -1;
	width: 25px;
	height: 25px;
	background-color: green;
	transform: rotate(45deg) translateX(-50%);
}

.mnemo__param-clue-div:not(:last-child) {
	margin-bottom: 5px;
}

.mnemo__param-clue-div {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
}

.mnemo__param-clue-span {
	font-size: 14px;
	line-height: 18px;
	font-weight: 600;
}

.mnemo__tooltip:hover .mnemo__param-clue {
	visibility: hidden;
	opacity: 0;
}

.mnemo__tooltip:active .mnemo__param-clue {
	visibility: hidden;
	opacity: 0;
}

.mnemo__tooltip:focus {
	outline: none;
}

.mnemo__tooltip:focus .mnemo__param-clue {
	visibility: hidden;
	opacity: 0;
}

.enabled-hover:hover {
	box-shadow: 0 0 0 3px white, 0 0 0 6px green;
	transition: box-shadow 0.3s ease-in-out;
	cursor: pointer;
}

.enabled-hover:active {
	box-shadow: 0 0 0 3px white, 0 0 0 6px green;
	transition: box-shadow 0.3s ease-in-out;
	cursor: pointer;
}

.enabled-hover:hover .mnemo__param-clue {
	visibility: visible;
	opacity: 1;
}

.enabled-hover:hover .mnemo__param-clue {
	visibility: visible;
	opacity: 1;
}

.enabled-hover:focus {
	outline: none;
}

.enabled-hover:focus .mnemo__param-clue {
	visibility: visible;
	opacity: 1;
}

.kamera-smeshenia-clue {
	width: 225px;
	top: -102px;
	left: -94px;
}

.topka-temper-clue {
	width: 225px;
	top: -103px;
	left: -93px;
}

.topka-davl-clue {
	width: 216px;
	top: -103px;
	left: -68px;
}

.vosduh-na-razbavl-clue {
	width: 190px;
	top: -103px;
	left: -49px;
}

.kamera-vigruzki-clue {
	width: 190px;
	top: -103px;
	left: -51px;
}

.temper-uhodyashih-gazov-clue {
	width: 225px;
	top: -102px;
	left: -94px;
}

/* Кран */
.mnemo__kran-vert {
	position: absolute;
	z-index: 1;
	top: 7%;
	left: 18%;
}

.mnemo__kran-box {
	position: relative;
	display: flex;
	align-items: center;
	background-color: white;
}

.mnemo__triangle1 {
	width: 0;
	height: 0;
	border-top: 17px solid transparent;
	border-left: 20px solid green;
	border-bottom: 17px solid transparent;
}

.mnemo__triangle2 {
	width: 0;
	height: 0;
	border-top: 17px solid transparent;
	border-right: 20px solid green;
	border-bottom: 17px solid transparent;
}

.mnemo__kran-img {
	position: relative;
}

.mnemo__kran-img img {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: 5px;
	left: 5px;
}

/* модальное окно */
.mnemo__modal-box--btns {
	position: absolute;
	top: -40px;
	left: 320px;
	z-index: 1;
	display: flex;
	align-items: center;
}

.mnemo__modal-box--btn {
	padding: 5px;
	font-size: 16px;
	line-height: 23px;
	font-weight: 600;
	background-color: white;
	color: green;
	border: 1px solid green;
	transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.mnemo__modal-box--btn:hover {
	color: white;
	background-color: green;
	cursor: pointer;
}

.mnemo__modal-box--btn:active {
	color: white;
	background-color: green;
	cursor: pointer;
}


.mnemo__modal-background {
	position: fixed;
	top: 0%;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
	z-index: -3;
	cursor: default;
}

.mnemo__modal-background.enabled {
	cursor: pointer;
	opacity: 1;
	z-index: 3;
	transition: opacity .5s ease-in-out;
}

.mnemo__modal-active {
	padding: 20px;

	position: absolute;
	max-width: 780px;
	width: 100%;
	/* height: 50px; */
	top: 50%;
	left: 50%;
	z-index: 1;
	transform: translate(-50%, -50%);
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 6px, rgba(0, 0, 0, 0.7) 0px 3px 6px;
	cursor: default;
}

.mnemo__modal-active.enabled {
	height: 100%;
	max-height: 600px;
	transition: height .4s ease-in-out;
}

.mnemo__modal-title {
	padding-bottom: 20px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid gray;
}

.mnemo__modal-title-text {
	position: relative;
	font-size: 28px;
	font-family: 'Bitter', sans-serif;
	line-height: 24px;
	color: black;
	font-weight: 600;
	text-decoration: none;
}

.mnemo__modal-window {
	padding-top: 20px;
	overflow-y: auto;
	height: 80%;
}

.mnemo__modal-close {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;
	width: 35px;
	height: 35px;
	transition: opacity .3s ease-in-out;
}

.mnemo__modal-close:hover {
	opacity: 0.5;
}

.mnemo__modal-close:active {
	opacity: 0.5;
}

.modal-content__box {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.modal-content__link {
	position: relative;
	font-size: 16px;
	line-height: 24px;
	color: black;
	font-weight: 500;
	font-family: 'Bitter', sans-serif;
}

.modal-content__link-download {
	padding: 6px 10px;
	font-size: 15px;
	line-height: 14px;
	color: green;
	font-weight: 500;
	font-family: 'Bitter', sans-serif;
	text-decoration: none;
	border: 2px solid green;
	transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.modal-content__link-download:first-child {
	border-right: none;
}

.modal-content__link-download:hover {
	background-color: green;
	color: white;
}

.modal-content__link-download:active {
	background-color: green;
	color: white;
}

.modal-content__link-download:focus {
	background-color: green;
	color: white;
}

.modal-content__link-download--one:first-child {
	border-right: 2px solid green;
}

.modal-content__link-download-solo {
	padding: 6px 10px;
	font-size: 15px;
	line-height: 14px;
	color: green;
	font-family: 'Bitter', sans-serif;
	font-weight: 500;
	text-decoration: none;
	border: 2px solid green;
	transition: color .3s ease-in-out, background-color .3s ease-in-out;
}



.modal-content__link-download-solo:hover {
	background-color: green;
	color: white;
}

.modal-content__link-download-solo:active {
	background-color: green;
	color: white;
}

.modal-content__link-download-solo:focus {
	background-color: green;
	color: white;
}

.modal-content__link-container {
	display: flex;
	flex-shrink: 0;
}

.modal-content__link-container.active {
	display: none;
}

.modal__accordion {
	margin-bottom: 10px;
	position: relative;
}

.modal__accordion-title {
	display: block;
	padding: 3px;
	cursor: pointer;
	font-family: 'Bitter', sans-serif;
	font-weight: 600;
	font-size: 20px;
	line-height: 24px;
	color: green;
	background-color: white;

	border: 1px green solid;
	transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.modal__accordion-title:hover {
	color: white;
	background-color: green;
}

.modal__accordion-title:active {
	color: white;
	background-color: green;
}

.modal__accordion-title.enabled {
	color: white;
	background-color: green;
}


.modal__accordion-content {
	margin: 0;
	padding: 0;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-right: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-height: 0px;
	font-size: 30px;
	line-height: 36px;
	list-style-type: none;
	transition: max-height .3s ease-in-out;
	overflow: hidden;
}

.modal__accordion-content-item {
	margin-bottom: 23px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.modal-content__link {
	margin-right: 30px;
}

/* Password */

.password-window {
	display: none;
}

.password-window.active {
	display: block;
	z-index: 1;
}

.password-form {
	display: flex;
	padding-right: 5px;
	opacity: 0;
}

.password-form.active {
	opacity: 1;
}

.password-form__container {
	display: flex;
	flex-direction: column;
}

.password-label {
	margin-top: 27px;
	position: absolute;
	display: none;
	z-index: 1;
	font-size: 12px;
	line-height: 14px;
	font-weight: 400;
	font-style: italic;
	color: red;
	transition: opacity .3s ease-in-out;
}

.password-label.active {
	display: block;
}

.password-input {
	padding-left: 15px;
	margin-right: 10px;
	height: 26px;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: black;
	border: 2px solid green;
	background-color: white;
	border-radius: 10px;
	transition: border .3s ease-in-out;
}

.password-input:hover {
	border: 2px solid blue;
}

.password-input:active {
	border: 2px solid blue;
}

.password-input:focus {
	border: 2px solid blue;
	outline: none;
}

.password-input::placeholder {
	font-size: 14px;
	line-height: 22px;
	font-weight: 400;
	color: black;
}

.password-input.error {
	border: 2px solid red;
	transition: border .3s ease-in-out;
}

.modal-content__link-may {
	display: none;
}

.modal-content__link-may.active {
	padding-right: 5px;
	display: flex;
	flex-shrink: 0;
}

.password-btn--ok {
	padding: 3px 10px;
	height: 26px;
	font-size: 15px;
	line-height: 14px;
	color: green;
	font-weight: 500;
	text-decoration: none;
	border-radius: 10px;
	border: 2px solid green;
	transition: color .3s ease-in-out, background-color .3s ease-in-out;
}

.password-btn--ok:hover {
	background-color: green;
	color: white;
}


@media (max-width: 1280px) {

	.mnemo {
		position: relative;
		width: 976px;
	}

	.mnemo__img {
		width: 976px;
	}

	.mnemo__gif-2 img {
		width: 26px;
		height: 55px;
	}

	.mnemo__gif-3 img {
		width: 37px;
		height: 35px;
	}

	.mnemo__gif-7 img {
		width: 19px;
		height: 19px;
	}

	.mnemo__gif-4 img {
		width: 20px;
		height: 18px;
	}

	.mnemo__gif-1 {
		top: 51%;
		left: 12.3%;
	}

	.mnemo__gif-5 img {
		width: 40px;
	}

	.mnemo__gif-6 {
		top: 11.1%;
		left: 21.8%;
	}

	.mnemo__gif-8 {
		top: 11.1%;
		left: 26.8%;
	}


	.mnemo__gif-6 img,
	.mnemo__gif-8 img {
		width: 56px;
		height: 61px;
	}

	.mnemo__param {
		padding: 0 2px;
	}

	.mnemo__param-text,
	.mnemo__param-naimenov {
		font-size: 10px;
		line-height: 14px;
	}

	.mnemo__param-descr {
		font-size: 10px;
		line-height: 10px;
	}

	.topka-text {
		top: 39%;
		left: 0;
	}

	.topka-temper {
		top: 34%;
		left: 8%;
	}

	.topka-davl {
		top: 41.5%;
		left: 5.3%;
	}

	.mosh-gorelki {
		left: 88px;
		top: 15%;
	}

	.mosh-gorelki-text {
		top: 15%;
		left: 0;
	}

	.zadanie-temper {
		top: 23%;
		left: 88px;
	}

	.zadanie-temper-text {
		top: 23%;
		left: 0;
	}

	.gaz-text {
		left: 0;
		max-width: 75px;
	}

	.vosduh-na-razbavl-text {
		top: 65%;
		left: 0px;
	}

	.vosduh-na-razbavl {
		top: 64%;
		left: 9.4%;
	}

	.vosduh-na-razbavl-text {
		top: 64%;
	}

	.baraban-text {
		top: 45%;
	}

	.temper-uhodyashih-gazov-text {
		top: 4%;
		right: 15%;
	}

	.temper-uhodyashih-gazov {
		top: 11%;
		right: 19.5%;
	}

	.kamera-vigruzki {
		top: 45%;
		right: 23%;
	}

	.kamera-vigruzki-text {
		top: 38%;
	}

	.enabled-hover:hover {
		box-shadow: 0 0 0 2px white, 0 0 0 4px green;
	}

	.enabled-hover:active {
		box-shadow: 0 0 0 2px white, 0 0 0 4px green;
	}

	.mnemo__param-clue-content {
		padding: 8px;
	}

	.mnemo__param-clue-div {
		font-size: 12px;
	}

	.mnemo__param-clue-span {
		font-size: 12px;
	}

	.topka-temper-clue {
		width: 192px;
		top: -98px;
		left: -85px;
	}

	.topka-davl-clue {
		width: 185px;
		top: -97px;
	}

	.kamera-smeshenia-clue {
		width: 192px;
		top: -97px;
		left: -86px;
	}

	.vosduh-na-razbavl-clue {
		width: 162px;
		top: -98px;
		left: -54px;
	}

	.kamera-vigruzki-clue {
		width: 162px;
		top: -96px;
		left: -57px;
	}

	.temper-uhodyashih-gazov-clue {
		width: 185px;
		top: -97px;
		left: -84px;
	}

	.mnemo__triangle1 {
		border-top: 10px solid transparent;
		border-left: 15px solid green;
		border-bottom: 10px solid transparent;
	}

	.mnemo__triangle2 {
		border-top: 10px solid transparent;
		border-right: 15px solid green;
		border-bottom: 10px solid transparent;
	}

	.mnemo__modal-box--btns {
		left: 73%;
	}

}